<!doctype html>

<html lang="en" data-theme="dark">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Vivista - Educational VR tool</title>
	<meta name="description" content="Educational VR tool">
	<meta name="author" content="Vivista">

	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css">
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css" />
	<link rel="stylesheet" href="style.css?v=1.0">

	<link rel="icon" type="image/png" href="favicon.png"/>
</head>

<body>
	<header class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
		<a href="/" class="pure-menu-heading pure-menu-image-link"><img src="logo.png"></a>

		<ul id="menu-right" class="pure-menu-list">
			{% if User %}
				<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
					<a href="#" class="pure-menu-link pure-menu-image-link">
						<img class="profile-picture-small" src="profile.png">
					</a>
					<ul class="pure-menu-children">
						<li class="pure-menu-item">
							<a href="" class="pure-menu-link">{{ User.username }}</a>
						</li>
						<li class="pure-menu-item">
							<a href="/my_videos" class="pure-menu-link">My videos</a>
						</li>
						<li class="pure-menu-item">
							<span class="pure-menu-link nohover">
								Dark Mode <input type="checkbox" class="toggle dark-mode-toggle" id="dark-mode-toggle-nav">
								<label for="dark-mode-toggle-nav"> </label>
							</span>
						</li>
						<li class="pure-menu-item">
							<a href="/logout" class="pure-menu-link">Log out</a>
						</li>
					</ul>
				</li>
			{% else %}
				<li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
				<li class="pure-menu-item"><a href="/register" class="pure-button">Register</a></li>
			{% endif %}
		</ul>
	</header>
	<div class="main-content">
		{{ content | raw }}
	</div>
	<footer class="footer">
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-3">
				<p>test</p>
				<p>test</p>
				<p>test</p>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<p>test</p>
				<p>test</p>
				<p>test</p>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<p>
					<span class="nohover">
						Dark Mode <input type="checkbox" class="toggle dark-mode-toggle" id="dark-mode-toggle-footer">
						<label for="dark-mode-toggle-footer"> </label>
					</span>
				</p>
				<p>test</p>
				<p>test</p>
			</div>
		</div>
	</footer>
</body>
</html>

<script src="site.js"></script>
