<div class="pure-g center">
	<div class="pure-u-1 pure-u-md-1-2">
		<h1>What are cookies?</h1>
		<p>A cookie is a small piece of data (text file) that a website, when visited by a user, asks your browser to store on your device in order to remember information
			about you, such as your login information.
		</p>

		<h1>How do we use cookies?</h1>
		<p>Vivista uses cookies for a couple of reasons:</p>
		<ul>
			<li>Keeping you singed in</li>
			<li>Load balancing</li>
		</ul>

		<h1>What types of cookies do we use?</h1>
		<p>There are a number of different types of cookies, however, our website uses:</p>
		<ul>
			<li>Essential: </li>
			<ul>
				<li><b>cookie-consent:</b> stores whether a cookie notice has been shown to you</li>
				<li><b>session:</b> stores a unique value for your account, to remember your login</li>
				<li><b>TS01<i>xxxxxx</i> and TS01<i>xxxxxxxxx</i>:</b> stores a unique value for your PC, to allow load balancing. Load balancing is the process of dividing users 
					over multiple servers to reduce load on a single server. <i>x means a random value, unique to each user</i></li>
			</ul>
		</ul>

		<p>Contact Information and more details can be found in our <a href="/PricavyPolicy.pdf">Privacy Policy</a></p>
	</div> 
</div>
