<div class="pure-g center">
	<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
		<form action="" method="post" class="pure-form pure-form-stacked">
			<fieldset>
				{% if error %}
					<p class="formerror">{{ error }}</p>
				{% endif %}
				<label for="username">Username</label>
				<input type="text" name="username" class="pure-input-1" required="" value="{{ username }}">
				<br>
				<label for="email">Email</label>
				<input type="email" name="email" class="pure-input-1" required="" value="{{ email }}">
				<br>
				<label for="password">Password</label>
				<input type="password" name="password" class="pure-input-1" required="">
				<br>
				<div class="pure-controls">
					<button class="pure-button" action="submit">Register</button>
				</div>
			</fieldset>
		</form>
		<br>
		<a href="login">Already have an account? Login</a>
	</div>
</div>
