<div class="pure-g center">
	<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
		<h1>Reset password</h1>
		<p>A password reset email has been sent to the provided address</p>
	</div>
</div>
