<div class="pure-g">
	<div class="pure-u-1">
		<h1>Change Password</h1>
		<form class="pure-form pure-form-stacked" method="post" action="/update_password">
			{% if success %}
			<p class="formsuccess">Your password has been updated</p>
			{% else %}
			<p class="formerror">{{ message }}</p>
			{% endif %}
			<label for="current-password">Current password</label>
			<input name="current-password" type="password" />
			<br />

			<label for="new-password">New password</label>
			<input name="new-password" type="password" />
			<br />

			<label for="password-confirmation">Repeat new password</label>
			<input name="password-confirmation" type="password" />
			<br />

			<button type="submit" class="pure-button">Change password</button>
			<button class="pure-button dangerous-button" type="button" id="delete">Delete your account</button>
			<p class="formerror">{{ error }}</p>
		</form>
	</div>
</div>


<script>
	document.getElementById("delete").addEventListener("click", function () {
		let isSure = confirm("Are you sure you want to delete your account?");
		if (isSure) {
			location.href = "/delete_yourself";
		}
	});
</script>
