html {
	--main-bg-color: hsl(0, 0%, 95%);
	--main-font-color: hsl(0, 0%, 5%);
	--button-neutral-bg: hsl(0, 0%, 85%);
	--button-neutral-bg-hover: hsl(0, 0%, 75%);
}

html[data-theme='dark'] {
	--main-bg-color: hsl(0, 0%, 5%);
	--main-font-color: hsl(0, 0%, 95%);
	--button-neutral-bg: hsl(0, 0%, 20%);
	--button-neutral-bg-hover: hsl(0, 0%, 30%);
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-font-color);
}

.pure-button {
	background-color: var(--button-neutral-bg);
	color: var(--main-font-color);
}

.pure-button:hover {
	background-image: none;
	background-color: var(--button-neutral-bg-hover);
}

.pure-button:focus {
	background-image: none;
	background-color: var(--button-neutral-bg-hover);
}
