html {
	--transparant: hsla(0, 0, 0, 0);
	--main-bg: hsl(0, 0%, 95%);
	--main-font: hsl(0, 0%, 20%);
	--muted-font: hsl(0, 0%, 35%);
	--muted-bg: hsl(0, 0%, 90%);
	--hover-font: hsl(0, 0%, 35%);
	--button-neutral-bg-hover: hsl(0, 0%, 80%);
	--button-neutral-bg-active: hsl(0, 0%, 70%);
	--button-dangerous-bg: hsl(0, 80%, 50%);
	--button-dangerous-bg-hover: hsl(0, 80%, 40%);
	--button-dangerous-bg-active: hsl(0, 80%, 30%);
	--button-safe-bg: hsl(120, 80%, 50%);
	--button-safe-bg-hover: hsl(120, 80%, 40%);
	--button-safe-bg-active: hsl(120, 80%, 30%);
	--button-download-bg: hsl(50, 100%, 50%);
	--button-download-bg-hover: hsl(50, 100%, 65%);
	--button-download-bg-active: hsl(50, 100%, 80%);
	--button-download-font: hsl(50, 100%, 10%);
	--button-download-font-hover: hsl(50, 100%, 20%);
	--button-border: hsl(0, 0%, 15%);
	--shadow: hsl(0, 0%, 75%);
	--footer-bg: hsl(200, 0%, 85%);
	--main-border: hsl(200, 0%, 80%);
	--anchor-font: hsl(210, 100%, 50%);
	--table-bg: hsl(0, 0%, 87.5%);
	--toggle-bg: #aaa;
	--toggle-bg-active: #eee;
	--toggle-fg: #fff;


	height: 100%;
}

html[data-theme='dark'] {
	--main-bg: hsl(200, 0%, 18%);
	--main-font: hsl(0, 0%, 95%);
	--muted-font: hsl(0, 0%, 75%);
	--muted-bg: hsl(0, 0%, 23%);
	--hover-font: hsl(0, 0%, 75%);
	--button-neutral-bg-hover: hsl(0, 0%, 30%);
	--button-neutral-bg-active: hsl(0, 0%, 40%);
	--button-dangerous-bg: hsl(0, 80%, 50%);
	--button-dangerous-bg-hover: hsl(0, 80%, 60%);
	--button-dangerous-bg-active: hsl(0, 80%, 70%);
	--button-safe-bg: hsl(120, 80%, 50%);
	--button-safe-bg-hover: hsl(120, 80%, 60%);
	--button-safe-bg-active: hsl(120, 80%, 70%);
	--button-border: hsl(0, 0%, 55%);
	--shadow: hsl(0, 0%, 7.5%);
	--footer-bg: hsl(200, 0%, 28%);
	--main-border: hsl(200, 0%, 40%);
	--anchor-font: hsl(50, 100%, 50%);
	--table-bg: hsl(200, 0%, 25%);

	--toggle-fg: #000;
}

body {
	background-color: var(--main-bg);
	color: var(--main-font);
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--anchor-font);
}

footer a {
	color: var(--muted-font);
	text-decoration: none;
}

footer a:hover {
	color: var(--main-font);
}

.center {
	justify-content: center;
}

.border { 
	border: 1px solid var(--button-border);
}

.main-content {
	flex: 1 0 auto;
	margin-top: 50px;
	padding: 2em 2em 0 2em;
}

.footer {
	margin-top: 5em;
	padding: 1em 2em;
	border-top: 1px solid var(--main-border);
	background-color: var(--footer-bg);
}

.profile-picture-small {
	max-width: 40px;
	max-height: 40px;
	padding: 5px;
	border-radius: 50% 50%;
	vertical-align: middle;
}

.profile-picture-large {
	max-width: 80px;
	max-height: 80px;
	padding: 5px;
	border-radius: 50% 50%;
}

.formerror {
	color: red;
}

.formsuccess {
	color: green;
}


.pure-table thead { 
	background-color: var(--table-bg);
	color: var(--main-font);
}


.video-tile {
	box-sizing: border-box;
	padding: 7px;
	padding-bottom: 2em;
	font-size: .9rem;
}

.video-tile img {
	box-shadow: 0 1px 3px var(--shadow);
}

.video-tile img:hover {
	filter: brightness(.7);
}

.video-tile .uploader {
	font-size: .7rem;
	color: var(--muted-font);
}

.video-tile > .video-thumb:hover {
	filter: brightness(.625);
	cursor: pointer;
}

.video-tile a {
	color: var(--main-font);
	text-decoration: none;
}

.video-tile a:hover {
	color: var(--hover-font);
	text-decoration: none;
}



.video-list { 
	width: 100%;
	white-space: nowrap;
}

.video-list td { 
	border-left: none;
}

.video-list .video-thumb { 
	max-width: 100%;
	height: auto;
	display: inline;
	vertical-align: middle;
	padding-right: 1em;
}



.user-header {
	padding: 1em 2em;
	margin-top: -2em;
	margin-bottom: 2em;
	background-color: var(--muted-bg);
	border-left: 1px solid var(--main-border);
	border-right: 1px solid var(--main-border);
	border-bottom: 1px solid var(--main-border);
	border-radius: 0 0 2px 2px;
	display: flex;
}

.user-header h1 {
	font-size: 1.5em;
	margin-top: .55em;
}

.user-header p {
	font-size: .8em;
	color: var(--muted-font);
}

.user-header .profile-picture {
	flex: 0 0 80px;
	display: flex;
}

.user-header .profile-picture .profile-picture-large {
	align-self: center;
}

.user-header .profile-info {
	flex: 1 0 120px;
}


.video-info {
	border-bottom: 1px solid var(--button-border);
	height: max-content;
	margin-right: 10px;
}

.video-info-image {
	position: relative;
	background-color: black;
	margin: -2em -2em 0 -2em;
	width: calc(100% + 4em);
}

.video-info-image img { 
	width: 100%;
	max-height: 60vh;
	object-fit: contain;
	filter: brightness(.4);
}

.video-info-image .download-message {
	z-index: 1000;
	float: left;
	position: absolute;
	left: 50%;
	top: 50%;
}

.video-info-image .download-button {
	background-color: var(--button-download-bg);
	color: var(--button-download-font);
	font-size: 2em;
	transform: translate(-50%, -50%);
	border: 5px solid var(--button-download-font);
	box-shadow: hsla(0, 100%, 100%, .75) 0 0px 20px
}

.video-info-image .install-message {
	margin-top: .5em;
	margin-bottom: 0em;
	font-size: .6em;
}

.video-info-image .install-message a {
	color: var(--button-download-font);
}

.video-info-image .install-message a:hover {
	color: var(--button-download-font-hover);
	text-decoration: none;
}

.video-info-image .download-button:hover {
	background-color: var(--button-download-bg-hover);
	box-shadow: hsla(0, 100%, 100%, .95) 0 0px 20px
}

.video-info-image .download-button:focus {
	background-color: var(--button-download-bg-hover);
}

.video-info-image .download-button:active {
	background-color: var(--button-download-bg-active);
}

.video-info-image .play-icon {
	line-height: 0;
}

.video-info .title { 
	font-size: 1.5em;
}

.video-info .description { 
	font-size: .8em;
	color: var(--muted-font);
}

.video-info .view-stats {
	font-size: .75em;
	font-variant: small-caps;
	color: var(--muted-font);
}


.related-videos {
	min-width: 300px;
	max-width: 100%;
	width: 400px;
	display: inline-block;
	letter-spacing: normal;
	word-spacing: normal;
	text-rendering: auto;
}

.related-videos h1 {
	color: var(--muted-font);
	font-size: 1em;
	line-height: 2em;
}

.related-videos .video {
	margin-bottom: 10px;
}

.related-videos .video .title {
	font-size: .8em;
	margin: 0;
	line-height: 1.5;
	margin-left: 10px;
}

.related-videos .video .uploader {
	margin: 0;
	color: var(--muted-font);
	font-size: .6em;
	line-height: 1.5;
	margin-left: 10px;
}



.search-results {
	width: 600px;
	letter-spacing: normal;
	word-spacing: normal;
	text-rendering: auto;
}

.search-results a {
	text-decoration: none;
	color: inherit;
}

.search-videos {
	padding-top: 2em;
}

.search-videos .video {
	margin-bottom: 10px;
}

.search-videos .video:hover {
	background-color: var(--muted-bg);
}

.search-videos .video .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 15px;
	line-height: 1.5;
	box-sizing: border-box;
}

.search-videos .video .title {
	margin: 0;
}

.search-videos .video .uploader {
	margin: 0;
	color: var(--muted-font);
	font-size: .8em;
	padding-bottom: 1em;
}

.search-videos .video .description {
	margin: 0;
	color: var(--muted-font);
	font-size: .7em;
}

.search-channels {
	border-bottom: 1px solid var(--muted-bg);
	padding-bottom: 2em;
}

.search-channels .channel {
	margin-bottom: 10px;
}

.search-channels .channel:hover {
	background-color: var(--muted-bg);
}

.search-channels .channel .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.search-channels .channel .picture {
	text-align: center;
}

.search-channels .username {
	line-height: 2em;
}


.tag {
	border: 1px solid var(--button-border);
	border-radius: 2em;
	padding: .1em .5em .2em .5em;
	margin-right: .5em;
	line-height: 2em;
	font-variant: small-caps;
}

.tag:hover {
	background-color: var(--button-border);
	cursor: pointer;
}



.search-bar {
	margin: 0 auto;
	display: flex;
	font-size: .9em;
	max-width: 640px;
	width: 100%;
}

.search-bar #search-input {
	background-color: var(--muted-bg);
	border: 1px solid var(--button-border);
	border-radius: 5px 0 0 5px;
	color: var(--main-font);
	padding: .5em 1em;
	flex: 1 1 auto;
	width: 50%;
	min-width: 60px;
}

.search-bar .search-input:focus {
	border-color: var(--main-font);
	outline: none;
}

.search-bar #search-button {
	border-radius: 0 5px 5px 0;
	border-left: none;
}



input.toggle[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

input.toggle + label {
	vertical-align: text-bottom;
	cursor: pointer;
	text-indent: -9999px;
	width: 2em;
	height: 1em;
	background: var(--toggle-bg);
	display: inline-block;
	border-radius: 1em;
	position: relative;
}

input.toggle + label::after {
	content: '';
	position: absolute;
	top: .15em;
	left: .15em;
	width: .7em;
	height: .7em;
	background: var(--toggle-fg);
	border-radius: 9em;
	transition: 0.3s;
}

input.toggle:checked + label {
	background: var(--toggle-bg-active);
}

input.toggle:checked + label::after {
	left: calc(100% - .15em);
	transform: translateX(-100%);
}

input.toggle + label:active::after {
	width: 1.3em;
}



.pure-button {
	border: 1px solid var(--button-border);
	background-color: var(--transparant);
	color: var(--main-font);
}

.pure-button:hover {
	background-image: none;
	background-color: var(--button-neutral-bg-hover);
}

.pure-button:focus {
	background-image: none;
	background-color: var(--button-neutral-bg-hover);
}

.pure-button-group .pure-button:first-child {
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
}

.pure-button-group .pure-button:last-child {
	border-right: 1px solid var(--button-border);
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
}

.pure-button-active {
	box-shadow: none;
	background-color: var(--button-neutral-bg-active);
}

.pure-button.dangerous-button {
	color: var(--button-dangerous-bg);
	border-color: var(--button-dangerous-bg);
}

.pure-button.dangerous-button:hover {
	color: var(--button-dangerous-bg-hover);
	border-color: var(--button-dangerous-bg-hover);
}

.pure-button.dangerous-button:active {
	color: var(--button-dangerous-bg-active);
	border-color: var(--button-dangerous-bg-active);
}

.pure-button.safe-button {
	color: var(--button-safe-bg);
	border-color: var(--button-safe-bg);
}

.pure-button.safe-button:hover {
	color: var(--button-safe-bg-hover);
	border-color: var(--button-safe-bg-hover);
}

.pure-button.safe-button:active {
	color: var(--button-safe-bg-active);
	border-color: var(--button-safe-bg-active);
}




.home-menu {
	z-index: 9999;
	background-color: var(--main-bg);
	box-shadow: 0 1px 5px var(--shadow);
	max-height: 50px;

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;

	display: flex;
	white-space: nowrap
}

.home-menu .left {
	flex: 0 0 auto;
}

.home-menu .middle {
	flex: 1 1 100%;
	align-items: center;
	display: flex;
}

.home-menu .right {
	flex: 0 0 auto;
}

.pure-menu-heading, .pure-menu-link {
	padding: 1em 1em;
	color: var(--main-font);
}

.pure-menu-heading:hover, .pure-menu-link:hover{
	color: var(--hover-font);
}

.pure-menu-heading:focus, .pure-menu-link:focus {
	background-color: var(--main-bg);
}

.pure-menu-image-link {
	padding: 0 1em;
}

.pure-menu-image-link:hover, .pure-menu-image-link:focus {
	background-color: var(--transparant);
}

.pure-menu-link:hover {
	background-color: var(--transparant);
}

.pure-menu-horizontal .pure-menu-children {
	left: -30px;
}

.pure-menu-children {
	background-color: var(--main-bg);
	border: 1px solid var(--muted-bg);
	box-shadow: 0 5px 5px var(--shadow);
}

.pure-menu-link.nohover:hover {
	cursor: default;
	color: var(--main-font);
}

#logo {
	display: none;
}

#cookie-banner {
	background-color: var(--muted-bg);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px;
}

.hidden {
	visibility: hidden;
}

@media screen and (min-width:48em) {
	.pure-menu-image-link {
		padding: 0 2em;
	}

	.home-menu .middle {
		padding-left: 0;
	}

	#logo {
		display: unset;
	}

	#logo-small {
		display: none;
	}
}