html {
	--transparant: hsl(0, 0, 0, 0);
	--main-bg: hsl(0, 0%, 95%);
	--main-font: hsl(0, 0%, 15%);
	--muted-font: hsl(0, 0%, 35%);
	--hover-font: hsl(0, 0%, 35%);
	--button-neutral-bg-hover: hsl(0, 0%, 80%);
	--button-neutral-bg-active: hsl(0, 0%, 70%);
	--button-dangerous-bg: hsl(0, 80%, 50%);
	--button-dangerous-bg-hover: hsl(0, 80%, 40%);
	--button-dangerous-bg-active: hsl(0, 80%, 30%);
	--button-safe-bg: hsl(120, 80%, 50%);
	--button-safe-bg-hover: hsl(120, 80%, 40%);
	--button-safe-bg-active: hsl(120, 80%, 30%);
	--button-border: hsl(0, 0%, 15%);
	--shadow: hsl(0, 0%, 75%);
	--footer-bg: hsl(200, 0%, 85%);
	--footer-border: hsl(200, 0%, 80%);
	--anchor-font: hsl(210, 100%, 50%);
	--table-bg: hsl(0, 0%, 87.5%);
	--toggle-bg: #aaa;
	--toggle-bg-active: #eee;
	--toggle-fg: #fff;
	height: 100%;
}

html[data-theme='dark'] {
	--main-bg: hsl(200, 0%, 18%);
	--main-font: hsl(0, 0%, 95%);
	--muted-font: hsl(0, 0%, 75%);
	--hover-font: hsl(0, 0%, 75%);
	--button-neutral-bg-hover: hsl(0, 0%, 30%);
	--button-neutral-bg-active: hsl(0, 0%, 40%);
	--button-dangerous-bg: hsl(0, 80%, 50%);
	--button-dangerous-bg-hover: hsl(0, 80%, 60%);
	--button-dangerous-bg-active: hsl(0, 80%, 70%);
	--button-safe-bg: hsl(120, 80%, 50%);
	--button-safe-bg-hover: hsl(120, 80%, 60%);
	--button-safe-bg-active: hsl(120, 80%, 70%);
	--button-border: hsl(0, 0%, 55%);
	--shadow: hsl(0, 0%, 7.5%);
	--footer-bg: hsl(200, 0%, 28%);
	--footer-border: hsl(200, 0%, 40%);
	--anchor-font: hsl(50, 100%, 50%);
	--table-bg: hsl(200, 0%, 25%);

	--toggle-fg: #000;
}

body {
	background-color: var(--main-bg);
	color: var(--main-font);
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--anchor-font);
}

.center {
	justify-content: center;
}

.border { 
	border: 1px solid var(--button-border);
}

.main-content {
	flex: 1 0 auto;
	margin-top: 50px;
	padding: 2em 2em 0em 2em;
}

.footer {
	margin-top: 5em;
	padding: 1em 2em;
	border-top: 1px solid var(--footer-border);
	background-color: var(--footer-bg);
}

.profile-picture-small {
	max-width: 40px;
	max-height: 40px;
	padding: 5px;
	border-radius: 50% 50%;
	vertical-align: middle;
}

.formerror {
	color: red;
}

.pure-table thead { 
	background-color: var(--table-bg);
	color: var(--main-font);
}


.video-tile {
	box-sizing: border-box;
	padding: 7px;
	padding-bottom: 2em;
	font-size: .9rem;
}

.video-tile img {
	box-shadow: 0px 1px 3px var(--shadow);
}

.video-tile .uploader {
	font-size: .7rem;
	color: var(--muted-font);
}

.video-tile > .video-thumb:hover {
	filter: brightness(.625);
	cursor: pointer;
}

.video-tile a {
	color: var(--main-font);
	text-decoration: none;
}

.video-tile a:hover {
	color: var(--hover-font);
	text-decoration: none;
}



.video-list { 
	width: 100%;
	white-space: nowrap;
}

.video-list td { 
	border-left: none;
}

.video-list .video-thumb { 
	max-width: 100%;
	height: auto;
	display: inline;
	vertical-align: middle;
	padding-right: 1em;
}




input.toggle[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

input.toggle + label {
	vertical-align: text-bottom;
	cursor: pointer;
	text-indent: -9999px;
	width: 2em;
	height: 1em;
	background: var(--toggle-bg);
	display: inline-block;
	border-radius: 1em;
	position: relative;
}

input.toggle + label:after {
	content: '';
	position: absolute;
	top: .15em;
	left: .15em;
	width: .7em;
	height: .7em;
	background: var(--toggle-fg);
	border-radius: 9em;
	transition: 0.3s;
}

input.toggle:checked + label {
	background: var(--toggle-bg-active);
}

input.toggle:checked + label:after {
	left: calc(100% - .15em);
	transform: translateX(-100%);
}

input.toggle + label:active:after {
	width: 1.3em;
}



.pure-button {
	border: 1px solid var(--button-border);
	background-color: var(--transparant);
	color: var(--main-font);
}

.pure-button:hover {
	background-image: none;
	background-color: var(--button-neutral-bg-hover);
}

.pure-button:focus {
	background-image: none;
	background-color: var(--button-neutral-bg-hover);
}

.pure-button-group .pure-button:first-child {
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
}

.pure-button-group .pure-button:last-child {
	border-right: 1px solid var(--button-border);
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
}

.pure-button-active {
	box-shadow: none;
	background-color: var(--button-neutral-bg-active);
}

.pure-button.dangerous-button {
	color: var(--button-dangerous-bg);
	border-color: var(--button-dangerous-bg);
}

.pure-button.dangerous-button:hover {
	color: var(--button-dangerous-bg-hover);
	border-color: var(--button-dangerous-bg-hover);
}

.pure-button.dangerous-button:active {
	color: var(--button-dangerous-bg-active);
	border-color: var(--button-dangerous-bg-active);
}

.pure-button.safe-button {
	color: var(--button-safe-bg);
	border-color: var(--button-safe-bg);
}

.pure-button.safe-button:hover {
	color: var(--button-safe-bg-hover);
	border-color: var(--button-safe-bg-hover);
}

.pure-button.safe-button:active {
	color: var(--button-safe-bg-active);
	border-color: var(--button-safe-bg-active);
}




.home-menu {
	background-color: var(--main-bg);
	box-shadow: 0px 1px 5px var(--shadow);
	max-height: 50px;
}

.pure-menu-heading, .pure-menu-link {
	padding: 1em 1em;
	color: var(--main-font);
}

.pure-menu-heading:hover, .pure-menu-link:hover {
	color: var(--hover-font);
}

.pure-menu-image-link {
	padding: 0 2em;
}

.pure-menu-link:hover {
	background-color: var(--transparant);
}

.pure-menu-children {
	background-color: var(--main-bg);
	border: 1px solid var(--button-border);
	box-shadow: 0px 1px 5px var(--shadow);
}

.pure-menu-link.nohover:hover {
	cursor: default;
	color: var(--main-font);
}

#menu-right {
	padding-right: 2em;
	float: right;
}
